#import(methods)
#exportPattern("^[[:alpha:]]+")
exportPattern("^dynr.+")
exportClassPattern("^dynr[[A-Z]][[:alpha:]]+")
exportPattern("^prep.+")
#exportPattern("^[^\\.]")
export(plotFormula)
export(PopBackModel)
export(printex)
export(writeCcode)
S3method(logLik, dynrCook)
S3method(coef, dynrCook)
S3method(summary, dynrCook)
useDynLib(dynr, .registration=TRUE)

