importFrom("graphics", "text")
importFrom("stats", "D", "as.formula", "coef", "formula", "logLik",
            "qnorm", "time", "nobs", "vcov", "confint")
importFrom("utils", "str", ".DollarNames")
importFrom("MASS", "ginv")
importFrom("Matrix", "nearPD")
importFrom(numDeriv, jacobian)
importFrom(xtable, xtable)
importFrom(latex2exp, TeX)
importFrom(grid, grid.newpage, pushViewport, viewport, grid.layout)
importFrom(reshape2, melt)
importFrom(plyr, ddply, is.formula)
import(ggplot2)
import(methods)
#exportPattern("^[[:alpha:]]+")
exportPattern("^dynr.+")
#exportClassPattern("^dynr[[A-Z]][[:alpha:]]+")
exportPattern("^prep.+")
#exportPattern("^[^\\.]")
export(plotFormula)
export(printex)
export(plot)
export(diag)
export(summary)
S3method(logLik, dynrCook)
S3method(nobs, dynrCook)
S3method(nobs, dynrModel)
S3method(coef, dynrCook)
S3method(vcov, dynrCook)
S3method(confint, dynrCook)
S3method(.DollarNames, dynrModel)
S3method(print, summary.dynrCook)
S3method(coef, summary.dynrCook)
S3method(autoplot, dynrCook)
useDynLib(dynr, .registration=TRUE)

